
  <head> <meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
	 <title> Curriculum Vitae</title>
	 <form accept-charset="UTF-8">
  </head> 
 <body  class="color">

 <div class="imhuge" > <!-- <img alt="El universo es el comienzo y todo lo que haga es un camino que me lleva hasta el">  Falta la imagen hazla erb-->
<%= image_tag 'i.png',:title => 'La humanidad comenzo como una idea',:size => '80x80' %>
<section><p> <pre><h1>Emprendedor enfocado en la Innovación </h1></pre>
<p> <%= image_tag 'img.png'%> </p> </p>

 <ul>   <li>Nombre: Luis Enrique</li>   
<li>Apellidos: Avelar Fernandez</li>                 
   <p>Edad:     20</p>
   Dirección: Cerro de Ameca #4591
   Cuidad-País: Guadalajara, México                   
<pre><h2>Emprendedor Lean</h2></pre>
<ul>
<li>Tel: 5236329957</li>   <li> Cel: 3311358384</li>
<!-- problema numero 1 headg y head se excluyen mutuamante y el proposito es que el background color se alinee solo 5px alrededor del texto y que no abarque el 100% del width-->

   <li>E-mail: enrique.avelar@jalisoft.com</li>
    </ul></p></section> 
<pre><h3>HABILIDADES</h3></pre>
<section><p> <ul>
  <li>-Liderazgo natural</li>
  <li>-Manejo de Importación y Exportación</li>
  <li>-Bilingüe </li>
  <li>-Apasionado por el Design thinking</li>
  <li>-GrowthHacker </li>
  <li>-Fan de los Hackaton y startupweekend</li>
  <li>-Investigador nato</li>
  <li>-Fintech</li>
  <li>-Programador Back End y Front End</li>

  Fullstack Developer

   Back End
     .-
     .- 
   Front End
     .-HTML
     .-CSS


</ul></p></section>
<pre><h3>EXPERIENCIA LABORAL</h3></pre>
<section><p><h5 style="text-align:center; font-size: 20px">DMPoS</h5>            Sector: Servicios Innovadores de software
<h6>Cargo ocupado: COO</h6>
Tareas realizadas: Organizar la empresa desde 0, Reclutar talento, Mantener al talento, Desarrollo de productos         innovadores, Desarrollo de clientes, Búsqueda de información avanzada para seguir siendo 1. °, Desarrollo de competitividad y búsqueda de innovación, Contacto directo con la competencia nacional,  búsqueda de UX y UI perfecto para el fácil entendimiento e implementación sencilla con los clientes, Creación de organigrama empresarial</p>
                                    
<p>De 15/09/2015 a la actualidad
Guadalajara  - México</p>

<p><h5 style="text-align:center;font-size: 20px">CIDETEC</h5>           Sector: Innovación tecnológica y emprendimiento
<h6>Cargo ocupado: Emprendedor con proyecto</h6>
Tareas realizadas: Encargado de incubación en un proyecto con innovación tecnológica enfocada en economía colaborativa</p>
<p>De 20/05/2015
Guadalajara - México</p>

<p><h5 style="text-align:center; font-size: 20px">NobelTel</h5>               Sector: Venta de teléfonos celulares
<h6>Cargo ocupado: CPO</h6>
Tareas realizadas: Encargado de manejar a los distribuidores internacionales y nacionales, para su correcto traslado a nuestro almacén lo que implicaba también ser el encargado de las importaciones y las devoluciones.</p>

<p>De 08/01/2015 a 23/09/2015
Guadalajara - México</p>

<p><h5 class="afin" style="text-align:center; font-size: 20px">AFIN:</h5>
<h6>Cargo ocupado: CEO</h6>
Tareas realizadas: Fundador de la startup  y encargado del desarrollo en el área de valor agregado, clientes y expansión.</p>
 <p>De 15/07/2015
 Guadalajara - Mexico</p></section>

<pre><h3>REFERENCIAS</h3></pre>

<section><p><h6>Ingeniero Josué Rico Uribe</h6>
Empresa: DEmpoS
Cargo: CEO
 E-mail: rico.josue0@gmail.com

<h6>Dr. Emmanuel López Neri</h6>
Empresa: CIDETEC
Cargo: CEO
E-mail: elopezneri@cidetec-uvm.com 

<h6>Marisol Fernández Reynoso</h6>
Empresa: Nobeltel 
Cargo: COO
E-mail: margiemm@hotmail.com</p></section>

<pre><h3>FORMACIONES ADICIONALES E INTERESES</h3></pre>

<section><pre><h5>Cursos, Diplomados, Congresos, Concursos, comunidades</h5></pre></section>

<section><table style="color: black; background-color: white">
 <thead><p class="thead1" class="col-4">"Dime con quien te juntas........."<p>
  <tr>
  </tr>
 </thead></section>
  <!--problema numero 2 las imagenes deben abarcar el 33% de la linea
   y quedar en orden y alineadas con el mismo tamano
    y abajo de ellas un pequeno cuadro que diga el texto-->
 <tbody>

  <div><tr style="padding-left: 5px; padding-right: 5px">

   <td class="imgc; col-15"> <%= image_tag 'snemp.png',:title => 'adquieres valor y ayuda para acabar con tus miedos' %> </td>
   </div>

   <div><td class="imgc; col-15"> <%= image_tag 'asem2.png',:title => 'innovadores unidos' %> </td></div>

   <div><td class="imgc; col-15"> <%= image_tag 'gem.jpeg',:title => 'Informacion del mundo del emprendimiento'  %> </td> 
   <td></td>
   <td></td>
   <td></td>

  </tr></div>
  <div><tr>
   <td class="col-15" style="font-family: Arial; font-size: 13px">Asistente semana nacional del emprendedor</td>
   <td class="col-15" style="font-family: Arial; font-size: 13px">Miembro de la ASEM</td>
   <td class="col-15" style="font-family: Arial; font-size: 13px">Admirador y seguidor del GEM</td>
  </tr></div>
  <tr>
   <td></td>
   <td></td>
   <td></td>
  </tr>

 </tbody> 
</table>    

<p>Certificación: Certificación en Comercio exterior                  <table>2014             Guadalajara</table>
  EC consultora </p>

<p>Certificación: Emprendimiento en Apps                              <table>2015             Guadalajara</table>
 TEC de Monterrey</p>


 <par> 

 </body>

